.createCont{
     width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainCont{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
