.qCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.qCont *{
    margin-bottom: .5rem;
}
.stateCont{
    position: absolute;
    top: .5rem;
    right: .5rem;
}
